* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);
  transform: translateX(-50%) translateY(-50%);
  width: 300px;
  height: 200px;
  padding-bottom: 20px;
  overflow: scroll;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul li {
  background: #F3F3F3;
  border-top: 1px solid #F6F6F6;
  border-bottom: 1px solid #F6F6F6;
  padding: 10px 15px;
  color: #008bb3;
}
ul li:before {
  content: '> ';
  color: #00c6ff;
}

input[type="text"] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 15px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  padding: 5px 7px;
  border: 1px solid #00c6ff;
}

input[type="text"]:focus {
  outline: none;
}

.completed {
  text-decoration: line-through;
}
