
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>VUEjs demo</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

	<script src="js_lib/vue.js"></script>
    <script src="js_lib/vuex.js"></script>


	<!-- only needed for example -->
	<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
   
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">Resources</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          
           <li class="nav-item">
            <a class="nav-link" href="https://vuejs.org/v2/guide/">vuejs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.jsdelivr.com/">jsdeliver</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="https://vuex.vuejs.org/guide/">vuex</a>
          </li>
       
      
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Vue JS playground</h1>
          <p>Our point of departure must be the conception of an almost childlike play-sense expressing itself in various play-forms, 
          some serious, some playful, but all rooted in ritual and productive of culture by allowing the innate human need of rhythm, 
          harmony, change, alternation, contrast and climax, etc., to unfold in full richness.</p>
          <p><a class="btn btn-primary btn-lg" href="https://vuejs.org/v2/guide/" role="button">Learn more &raquo;</a></p>
        </div>
      </div>

      <div class="container">
        
        <div class="row">
          <div class="col">
          
          <h2>Simple examples</h2>
          <hr>
          
          	<div id="watch-example">
			  <p>
			    Ask a yes/no question:<br>
			    <input v-model="question">
			  </p>
			   <p>{{ answer }}</p>
			   <br>
			  <p>Test input:<br><input v-model="test"></p>
			 
			</div>
			
			<div id="example-1">
			  <button v-on:click="counter += 1">Add 1</button>
			  <p>The button above has been clicked {{ counter }} times.</p>
			</div>

            <hr>
            
            <h2>Stateful components</h2>
            
            <div class="container">
                <div id="app"></div>
            </div>
           
          </div>
         
        </div>

        <hr>

      </div> <!-- /container -->

    </main>

    <footer class="container">
      <p>Homo Ludens was here</p>
    </footer>

    <script src="example.js"></script>
    <script src="app.js"></script>
    
  </body>

</html>
